<html>
  <head>
    {% if title%}
    <title>{{title}}</title>
    {% else %}
    <title>Toko Roti</title>
    {% endif %}
  </head>
  <body>
    <h1>Hello, dari {{user.username}}!</h1>
  </body>
</html>
